Author: Ty

Date: 2/19/20

If you want to get the prior value, you can use For Loops. But you can also use the np where method and the shift method. As you can see at the bottom, using these methods together is much faster.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#It took 8 minutes for a column, but it works.
#I don't know if doing None vs doing "" makes a difference in speed.
def prior_amount(curr_field_name, prior_field_name):
    a1 = Data.columns.get_loc('full_stmt_nbr')
    b1 = Data.columns.get_loc(curr_field_name)
    c1 = Data.columns.get_loc(prior_field_name)
    for x in range(1, Data_Row_Count):
        if Data.iloc[x,a1] == Data.iloc[x-1,a1]:
            Data.iloc[x,c1] = Data.iloc[x-1,b1]
        else:
            Data.iloc[x,c1] = None

In [3]:
Data = pd.read_excel('test mpm type.xlsx', sheet_name = "Sheet1")

In [4]:
# Store the row count of this data frame
Data_Row_Count = len(Data.index)
Data_Row_Count

16

In [5]:
Data

,contract_group_desc,full_stmt_nbr,product_id,product_id1,product_id2,product_id4,product_id5,Paid
0,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,1
1,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,2
2,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,3
3,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,4
4,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,5
5,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,6
6,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,7
7,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004154,8
8,Friday,K-32056-003-300-006,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,9
9,Friday,K-32056-003-300-007,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,10
10,Trick,K-32060-003-04-003,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,11
11,Trick,K-32060-003-04-002,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,12
12,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,13
13,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,14
14,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,15
15,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,16

In [6]:
Data["Prior_Paid"] = np.where(Data.full_stmt_nbr == Data.full_stmt_nbr.shift(1), "Yes", "No")

In [7]:
Data

,contract_group_desc,full_stmt_nbr,product_id,product_id1,product_id2,product_id4,product_id5,Paid,Prior_Paid
0,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,1,No
1,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,2,Yes
2,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,3,Yes
3,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,4,Yes
4,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,5,Yes
5,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,6,Yes
6,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,7,Yes
7,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004154,8,Yes
8,Friday,K-32056-003-300-006,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,9,No
9,Friday,K-32056-003-300-007,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,10,No
10,Trick,K-32060-003-04-003,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,11,No
11,Trick,K-32060-003-04-002,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,12,No
12,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,13,No
13,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,14,Yes
14,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,15,No
15,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,16,Yes

In [8]:
# np way
%time Data["Prior_Paid2"] = np.where(Data.full_stmt_nbr == Data.full_stmt_nbr.shift(1), Data.Paid.shift(1), None)

Wall time: 2.01 ms

In [9]:
# For Loop way
Data['Prior_Paid3'] = None
%time prior_amount(curr_field_name = 'Paid', prior_field_name = 'Prior_Paid3')

Wall time: 7.52 ms

In [10]:
Data

,contract_group_desc,full_stmt_nbr,product_id,product_id1,product_id2,product_id4,product_id5,Paid,Prior_Paid,Prior_Paid2,Prior_Paid3
0,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,1,No,None,None
1,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,2,Yes,1,1
2,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,3,Yes,2,2
3,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,4,Yes,3,3
4,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,5,Yes,4,4
5,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,6,Yes,5,5
6,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004151,7,Yes,6,6
7,Hat,K-8850-003-04-003,9094151,9094151,"9079499, 9079500, 9079501, 9085698, 9085968",9094151,9004154,8,Yes,7,7
8,Friday,K-32056-003-300-006,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,9,No,None,None
9,Friday,K-32056-003-300-007,9016901,9016901,"9079499, 9079500, 9079501, 9085698, 9085968",9016901,9004151,10,No,None,None
10,Trick,K-32060-003-04-003,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,11,No,None,None
11,Trick,K-32060-003-04-002,9083399,9083399,"9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,12,No,None,None
12,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,13,No,None,None
13,Row,K-32065-003-04-003,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004154,14,Yes,13,13
14,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,15,No,None,None
15,Row,K-32065-003-04-002,"9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968","9079499, 9079500, 9079501, 9085698, 9085968",9083399,9004151,16,Yes,15,15

# The end